<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="same-origin">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0d0707">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Better code is more better.">
    <meta name="keywords" content="winston puckett, programming, computer science, open source">
    <meta name="author" content="Winston Puckett">
    <meta name="creator" content="Winston Puckett">
    <meta name="publisher" content="Winston Puckett">
    <meta name="robots" content="all">
    <title>Winston Puckett</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 200 200%22><text font-size=%22160%22 y=%221em%22 x=%22-0.05em%22>🦉</text></svg>">

    {# TODO #}
    {# <meta name="theme-color" media="(prefers-color-scheme: light)" content="#0d0707"> #}
    {# TODO https://developers.google.com/search/docs/crawling-indexing/special-tags #}
    {# <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="> #}
</head>

<body>
    {% set siteCss %}{% include 'site.css' %}{% endset %}
    <style>{{ siteCss | cssmin | safe }}</style>
    {% set postCss %}{% include 'post.css' %}{% endset %}
    <style>{{ postCss | cssmin | safe }}</style>

    <nav id="nav">
        <a class="nav__title" href="/">🦉 Winston Puckett</a>
    </nav>

    <main>
        {{ content | safe }}
    </main>
    <footer>
        <span>From Winston Puckett with love ♥️</span> |
        <a href="https://github.com/winstonpuckett/winstonpuckett-site/blob/main/LICENSE">License</a> |
        <a href="https://github.com/winstonpuckett/winstonpuckett-site">Source Code</a> 
    </footer>
</body>

</html>