{% macro productCards(products) %}
    <div class="horizontal">
    {%- for product in products | reverse -%}
        <a class="card" href="{{ product.url }}">
            <p class="title">{{ product.data.title }}</p>
            <p class="image" style="height:5rem;font-size: 3rem;text-align: center;">{{ product.data.icon | safe }}</p>
            <p class="description">{{ product.data.tagline }}</p>
        </a>
    {%- endfor -%}
    </div>
{% endmacro %}