:root {
    --c-text: #edebeb;
    --c-textSeparator: #a8b2c0;
    --c-background: #0d0707;
    --c-background-gradient: linear-gradient(to bottom, #0d0707, #090505);
    --c-backgroundseparator: #1e1819;
    /* --c-cta1: #ead0a9;
    --c-cta2: #a8852c;
    --c-cta3: #795615;
    --c-cta: linear-gradient(to bottom right, var(--c-cta1), var(--c-cta2), var(--c-cta3)); */
    --s-spacing: 15px;
    --s-text-xsmall: 0.75rem;
    --s-text-small: 1rem;
    --s-text: 1.5rem;
    --s-text-large: 2rem;
    --f-heading: 'Open Sans';
    --f-writing: Montserrat;
}

@media (prefers-color-scheme: light) {
    :root {
        --c-text: #0d0707;
        --c-textSeparator: #1e1819;
        --c-background: #edebeb;
        --c-backgroundseparator: #a8b2c0;
        --c-background-gradient: linear-gradient(to bottom, #edebeb, #f1eded);
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--c-background);
    background-image: var(--c-background-gradient);
    color: var(--c-text);
    min-height: 100%;

    display: flex;
    flex-direction: column;
    font-size: var(--s-text);
    font-family: var(--f-writing);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--f-heading);
}

nav {
    padding: var(--s-spacing);
    display: flex;
    justify-content: space-between;
}

main {
    margin-bottom: auto;
    padding: var(--s-spacing);
}

footer {
    padding: var(--s-spacing);
}

a {
    color: var(--c-text);
}

.nav__breadcrumbs {
    display: flex;
    gap: var(--s-spacing);
}

.nav__title {
    font-size: var(--s-text-large);
    font-weight: bolder;
    color: var(--c-text);
    text-decoration: none;
    font-family: var(--f-heading);
}

.nav__lightswitch {
    font-size: var(--s-text-large);
    border: none;
    background: transparent;
}

.products-list__wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--s-spacing);
    padding: var(--s-spacing);
    flex-wrap: wrap;
    justify-content: center;
}

.card__wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "icon title"
        "description description"
        "tags tags";

    width: 300px;

    border: 1px solid var(--c-backgroundseparator);
    border-radius: 20px;
    padding: var(--s-spacing);

    color: var(--c-text);
    text-decoration: none;
}

.card__icon {
    grid-area: icon;
    margin: 0;
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__title {
    grid-area: title;
    margin: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: var(--s-text-large);
    font-family: var(--f-heading);
}

.card__description {
    font-size: var(--s-text-small);
    grid-area: description;
}

.card__tags__wrapper {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card__tags__title {
    font-size: var(--s-text-small);
}

.card__tags__chip {
    font-size: var(--s-text-small);
    padding: 10px var(--s-spacing);
    margin: 5px;
    border-radius: 10px;
    height: fit-content;
    background: var(--c-backgroundseparator);
}