---
tags: posts
pagination:
    data: devPosts
    size: 1
    alias: post
    addAllPagesToCollections: true
    title: "{{ post.title }}"
permalink: "blog/{{ post.title | removeNonAlphanumericCharacters | slug }}/"
templateEngineOverride: njk, md
---

{# {% import "modules/sections.njk" as sections %}
{% import "modules/analytics.njk" as analytics %}
{% import "modules/monetization.njk" as monetization %}
{% import "modules/posts.njk" as postsModule %} #}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="referrer" content="same-origin">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0d0707">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#edebeb">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Better code is more better.">
<meta name="keywords" content="winston puckett, programming, computer science, open source">
<meta name="author" content="Winston Puckett">
<meta name="creator" content="Winston Puckett">
<meta name="publisher" content="Winston Puckett">
<meta name="robots" content="all">
<title>Winston Puckett</title>
<link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 200 200%22><text font-size=%22160%22 y=%221em%22 x=%22-0.05em%22>🦉</text></svg>">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178745018-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178745018-1');
</script>


{# TODO https://developers.google.com/search/docs/crawling-indexing/special-tags #}
{# <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="> #}
</head>

<body>
{% set siteCss %}{% include 'site.css' %}{% endset %}
<style>{{ siteCss | cssmin | safe }}</style>
<script defer src="/_assets/lightswitch.js"></script>

{% set postCss %}{% include 'post.css' %}{% endset %}
<style>{{ postCss | cssmin | safe }}</style>

<nav id="nav">
<span class="nav__breadcrumbs"><a class="nav__title" href="/">🦉</a><span class=nav__title>›</span><a class="nav__title" href="/products/blog">✒️</a></span>
<button class="nav__lightswitch" onclick="switchLight()">🌓</button>
</nav>

<main>

<main class="post">
<img loading="lazy" src="{{ post.cover_image }}" alt="this post's header image">
<h1 class="post__title">{{ post.title }}</h1>

{{ post.body_markdown | removeMdMetadata | safe }}

<a href="https://dev.to/winstonpuckett/{{ post.slug }}" rel="noreferrer"  target="_blank">Respond to this post and join the conversation on DEV</a>

<hr>

</main>
{# <aside>
    {{ postsModule.cards(devPosts, post) | safe }}
</aside> #}

{# {{ sections.footer(env) | safe }} #}
</body>
</html>
