---
layout: layout.njk
---

<p>I make cool stuff and give it away for free.</p>

<h1>Products</h1>

{% import "productCards.njk" as productCards %}

{{ productCards.productCards(collections.product) }}